.card {
  width: 100%;
  background-color: var(--surface);
  border-radius: 20px;
  padding: 8px 16px;
  min-height: 155px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  text-align: center;

  .title {
    font-size: 20px;
  }

  .greyUnit {
    display: contents;
    color: var(--text-degrees);
  }

  .value {
    font-size: 36px;
  }
}
