.dashboardDetails {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 48px;

  .sectionTitle {
    font-size: 36px;
  }

  .cardsContainer {
    display: flex;
    gap: 40px;
    width: 100%;
    align-items: stretch;
  }
}
