.daySummary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 0px;

  .locationName {
    font-size: 64px;
    max-width: 100%;
    text-wrap: wrap;
  }

  .date {
    font-size: 36px;
    font-weight: 400;
  }

  .icon {
    width: 60%;
    max-width: 400px;
    transform: scale(140%);
    display: block;
    position: relative;
    top: 10px;
  }

  .temperature {
    font-size: 120px;
    font-weight: 400;
    line-height: 1em;
    display: flex;

    .degrees {
      place-self: center;
      color: var(--text-degrees);
      font-size: 48px;
    }
  }

  .condition {
    font-size: 48px;
    margin-top: 16px;
  }
}
