html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
}
body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
  height: 100%;
  background-color: var(--background);
  color: var(--text);

  /* Tokenised Colours, with semantic indications for easier use */
  --background: #100e1d;
  --surface: #1e213a;
  --text: white;
  --text-secondary: rgba(255, 255, 255, 0.7);
  --text-degrees: #cdcdcd;

  /** Colour of the sun/moon, creates a good contrast with majority dark blue content */
  --focus-outline: #ffa500;

  --button-stroke: black;
  --button-background: white;
  --button-active-background: #585676;

  --radio-stroke: #ffffff;
  --radio-background: #585676;
  --radio-active-stroke: #000000;
  --radio-active-background: #ffffff;

  --meter-track: white;
  --meter-fill-green: #a9ff53;
  --meter-fill-yellow: #faff00;

  --input-stroke: #111111;
  --input-background: #ffffff;
}
h1,
h2,
p,
pre {
  margin: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
}
svg {
  display: block;
  shape-rendering: auto;
  text-rendering: optimizeLegibility;
}

/* Accessibly hide elements */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
