.searchBar {
  display: grid;
  height: 45px;
  grid-template-columns: 1fr 45px;
  gap: 28px;

  input {
    height: 100%;
    border-radius: 5px;
    padding: 16px;
    &:focus-visible {
      outline: 2px solid var(--focus-outline);
      outline-offset: 2px;
    }
  }
  button {
    cursor: pointer;
    background-color: var(--button-background);
    color: var(--button-stroke);
    border-radius: 45px;
    &:focus-visible {
      outline: 2px solid var(--focus-outline);
      outline-offset: 2px;
    }
  }
}
