.searchBar {
  display: grid;
  height: 45px;
  grid-template-columns: 1fr 45px;
  gap: 28px;

  input {
    height: 100%;
    border-radius: 5px;
    &:focus-visible {
      outline: 2px solid var(--focus-outline);
      outline-offset: 2px;
    }
    font-family: inherit;
    font-size: 24px;
    padding: 0px 10px;
  }
  button {
    cursor: pointer;
    background-color: var(--button-background);
    color: var(--button-stroke);
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 45px;
    height: 45px;
    width: 45px;
    &:focus-visible {
      outline: 2px solid var(--focus-outline);
      outline-offset: 2px;
    }
  }
}
