.layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 555fr 1365fr;
}

.sidebar {
  padding: 40px 56px;
  background-color: var(--surface);
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.dashboardWrapper {
  // if the Dashboard Content is too tall,
  // then we keep the sidebar in place
  max-height: 100%;
  overflow-y: scroll;
  width: 100%;
}

.dashboard {
  padding: 40px 56px;
  max-width: 1024px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 88px 1fr;
  row-gap: 88px;

  .dashboardTitle {
    height: fit-content;
    align-self: flex-end;
  }

  .dashboardData {
    grid-column: span 2;
  }
}

.temperatureSelectors {
  justify-self: end;
  display: flex;
  gap: 8px;

  label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    width: 54px;
    border-radius: 54px;
    background-color: var(--radio-background);
    color: var(--radio-stroke);

    &:has(input:checked) {
      background-color: var(--radio-active-background);
      color: var(--radio-active-stroke);
    }

    &:has(input:focus-visible) {
      outline: 2px solid var(--focus-outline);
      outline-offset: 2px;
    }
  }
}
