.layout {
  display: grid;
  height: 100vh;
  grid-template-columns: auto 1fr;

  @media screen and (max-width: 864px) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
  }
}

.sidebar {
  padding: 40px 56px;
  background-color: var(--surface);
  display: grid;
  grid-template-rows: auto 1fr;
  text-align: center;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  @media screen and (max-width: 864px) {
    height: auto;
  }
}

.dashboardWrapper {
  // if the Dashboard Content is too tall,
  // then we keep the sidebar in place
  max-height: 100%;
  overflow-y: auto;
  width: 100%;
  padding: 40px 56px;
}

.dashboard {
  position: relative;
  max-width: 1024px;
  width: 100%;
  margin: auto;

  .dashboardTitle {
    height: fit-content;
    align-self: flex-end;
    font-size: 36px;
  }
}
