.layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 555fr 1365fr;
}

.sidebar {
  padding: 40px 56px;
  background-color: var(--surface);
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.dashboardWrapper {
  // if the Dashboard Content is too tall,
  // then we keep the sidebar in place
  max-height: 100%;
  overflow-y: scroll;
  width: 100%;
}

.dashboard {
  padding: 40px 56px;
  max-width: 1024px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 88px 1fr;
  row-gap: 88px;

  .dashboardTitle {
    height: fit-content;
    align-self: flex-end;
  }

  .dashboardData {
    grid-column: span 2;
  }
}
